@charset "UTF-8";

:root {
  /* Primary */
  --BrightRed: hsl(12, 88%, 59%);
  --DarkBlue: hsl(228, 39%, 23%);
  /* Neutral */
  --lightRed: hsla(12, 88%, 59%, 0.5);
  --DarkGrayishBlue: hsl(227, 12%, 61%);
  --VeryDarkBlue: hsl(233, 12%, 13%);
  --VeryPaleRed: hsl(13, 100%, 96%);
  --VeryLightGray: hsl(0, 0%, 98%);
  /* Fonts */
  --fontDefault: "Be Vietnam", sans-serif;
  --baseFontSize: 16px;
  --borderRadius: 2rem;
  --maxWidth: 76.66%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: var(--fontDefault);
  font-size: var(--baseFontSize);
  background-image: url(../images/bg-tablet-pattern.svg);
  background-position: 124% -20%;
  background-repeat: no-repeat;
  color: var(--DarkGrayishBlue);
}

img {
  display: block;
  max-width: 100%;
}

/*=============================================
=            LAYOUT            =
=============================================*/

.header,
.hero,
.about,
.reviews {
  max-width: var(--maxWidth);
  margin: 0 auto;
}

.header {
  padding: 2rem 0;
}

.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about {
  position: relative;
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  column-gap: 3rem;
  margin: 7.5rem auto;
}

/*=====  End of LAYOUT  ======*/

/*=============================================
=            COMPONENTS            =
=============================================*/

/*----------  BUTTON  ----------*/
.btn {
  display: block;
  width: 8.5rem;
  padding: 0.8rem 0;
  border-radius: var(--borderRadius);
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  background-color: var(--BrightRed);
  color: white;
  box-shadow: 0 17px 9px -16px var(--BrightRed);
  transition: all 0.3s ease;
}

.btn:hover {
  opacity: 0.8;
}

.btn.btn--white {
  background-color: white;
  color: var(--BrightRed);
  box-shadow: 0 17px 9px -16px var(--DarkGrayishBlue);
}

.btn.btn--white:hover {
  color: var(--lightRed);
  opacity: 1;
}

/*----------  NAV  ----------*/

.nav,
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  font-size: 0.8rem;
  font-weight: 500;
}

.nav__item {
  margin: 0 1rem;
}

.nav__link {
  text-decoration: none;
  color: var(--DarkBlue);
}

.nav__link:hover {
  color: var(--DarkGrayishBlue);
}

.nav__logo {
  align-self: flex-end;
}

.nav__menu-icon {
  display: none;
}

/*----------  HERO  ----------*/

.hero__info,
.hero__image {
  flex: 1 50%;
}

.hero__title {
  padding: 4rem 2rem 2rem 0;
  font-size: 3rem;
  line-height: 1.2;
  color: var(--DarkBlue);
}

.hero__description {
  padding-right: 13rem;
  padding-bottom: 2.5rem;
  color: var(--DarkGrayishBlue);
}

/*----------  ABOUT  ----------*/

.about__intro,
.about__copy {
  padding-right: 6rem;
}

.about__title {
  margin-bottom: 1.5rem;
}

.about__item {
  display: grid;
  grid-template: 1fr / 100%;
  column-gap: 1.75rem;
  margin-bottom: 2.5rem;
}

.about__item-header {
  display: inline-flex;
  align-items: center;
}

.about__item-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.18rem;
  height: 2.5rem;
  margin-right: 1.75rem;
  border-radius: 1.2rem;
  font-weight: bold;
  background-color: var(--BrightRed);
  color: white;
}

.about__item-content {
  padding-left: calc(4.18rem + 1.75rem);
}

/*=====  End of COMPONENTS  ======*/

/*=============================================
=            UTILITIES            =
=============================================*/

h2.title--section {
  font-size: 2rem;
  line-height: 1.2;
  color: var(--DarkBlue);
}

h3.subtitle {
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--DarkBlue);
}

/*=====  End of UTILITIES  ======*/

/*=============================================
=            MEDIA QUERIES            =
=============================================*/

@media (max-width: 375px) {
  :root {
    --maxWidth: 86.66%;
  }

  body {
    background-position: -110% -4.3%;
    background-size: 115%;
  }

  /*----------  NAV  ----------*/
  .nav::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, var(--VeryDarkBlue), transparent);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .nav__logo {
    width: 110px;
  }

  .nav__menu-icon {
    display: block;
    height: 2rem;
    width: 2rem;
    border: none;
    font-size: 0;
    background-color: transparent;
    background-image: url(../images/icon-hamburger.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .nav.active::before {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .nav__cta {
    display: none;
  }

  .nav .nav__list {
    position: fixed;
    top: 6rem;
    left: 0;
    right: 0;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    width: var(--maxWidth);
    margin: 0 auto;
    padding: 2rem 1rem;
    visibility: collapse;
    font-size: 1rem;
    line-height: 3rem;
    background-color: var(--VeryLightGray);
    opacity: 0;
    transition: all 0.5s ease;
  }

  .nav.active .nav__menu-icon {
    z-index: 2;
    background-image: url(../images/icon-close.svg);
  }

  .nav.active .nav__list {
    display: flex;
    visibility: visible;
    opacity: 1;
  }

  /*----------  HERO  ----------*/

  .hero {
    flex-direction: column-reverse;
    text-align: center;
    margin-bottom: 3.5rem;
  }

  .hero__cta {
    margin: 0 auto;
  }

  .hero__title {
    padding: 1rem 0 2rem;
    font-size: 2.5rem;
  }

  .hero__description {
    padding-right: 0;
    padding-bottom: 2.5rem;
    color: var(--DarkGrayishBlue);
  }

  /*----------  ABOUT  ----------*/

  .about {
    display: block;
  }

  .about__intro,
  .about__copy {
    padding-right: 0;
    text-align: center;
  }

  .about__copy {
    line-height: 2;
  }

  h2.about__title {
    line-height: 1.5;
  }

  .about__intro {
    margin-bottom: 3.625rem;
  }

  .about__item-header {
    border-radius: 1.2rem 0 0 1.2rem;
    background-color: var(--VeryPaleRed);
    margin-right: -20px;
  }

  .about__item-content {
    padding-left: 0;
    margin-top: 1.125rem;
  }

  .about__item-number {
    margin-right: 1rem;
  }
}

/*=====  End of MEDIA QUERIES  ======*/
